# JSON Project
## Completed by Adithyan Subramanian

In [2]:
import pandas as pd
import json 
from pandas.io.json import json_normalize

## Question 1

In [3]:
# load json as Pandas dataframe
df = pd.read_json('data/world_bank_projects.json')

In [4]:
#find top 10 countries
values = df['countryname'].value_counts()
print(values[0:10])

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Nepal                              12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

Although Africa is not a country, it is listed as such in the dataset.

## Question 2

In [5]:
#load json as string
data = json.load((open('data/world_bank_projects.json')))

In [6]:
#Normalized data
data_normalized = json_normalize(data, 'mjtheme_namecode')

In [7]:
# Print top 10 value counts
values = data_normalized['name'].value_counts()
print(values[0:10])

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

## Question 3

In [8]:
data_normalized['name'][1]

''

First we need to create a dictionary that connects all the codes to the correct name.Then we can use that dictionary to repopulate the name column.

In [9]:
#Create dictionary map
key = data_normalized[data_normalized['name'] != ""].drop_duplicates()
#Place dictionary map in a dictionary
code_dict = dict(zip(key.code, key.name))

In [10]:
data_normalized['name_clean'] = data_normalized['code'].apply(lambda item: code_dict[item])

In [11]:
data_normalized.head()

,code,name,name_clean
0,8,Human development,Human development
1,11,,Environment and natural resources management
2,1,Economic management,Economic management
3,6,Social protection and risk management,Social protection and risk management
4,5,Trade and integration,Trade and integration

In [12]:
#Print top 10 value counts
values = data_normalized['name_clean'].value_counts()
print(values[0:10])

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name_clean, dtype: int64